.searchbar {
    display: block;
    padding: 10px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    border: 2px #80808096 solid;
    opacity: 50%;
    width: 75%;
    margin: 35px auto;
}

.notFound {
    text-align: center;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    display: none;
}
/* ----------------------------------------------------------------*/
/* Image styles */
/* ----------------------------------------------------------------*/
.img-container {
    margin: auto;
}

figure {
    margin: auto;
    padding-bottom: 50px;
    max-width: 300px;
    max-height: 300px;
}

.image img{
    width: 100%;
    height: 300px;
    max-width: 300px;
    object-fit: cover;
}

/* ----------------------------------------------------------------*/
/* Lightbox styles */
/* ----------------------------------------------------------------*/
.lightbox {
    top: 130px !important;
}

.lb-data .lb-caption {
    max-width: 600px;
}

.lb-data .lb-details {
    font-family: 'Open Sans', sans-serif;
    margin-top: 25px;
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin-left: auto !important;
    margin-right: auto !important;
    float: none;
}

.lb-data .lb-number {
    display: none !important;
    z-index: -100;
}

.lb-close {
    position: relative;
    top: -22em;
}

/* ----------------------------------------------------------------*/
/* Media Queries */
/* ----------------------------------------------------------------*/

/* Tablets */
@media (min-width: 767px) {
    .img-container {
        display: grid;
        grid-template-columns: 50% 50%;
        margin: auto 5%;
    }

    .searchbar {
        width: 50%;
        margin: 35px auto;
    }

    .lb-close {
        top: -35em;
    }

    .lightbox {
        top: 50px !important;
    }
}

/* Tablets in landscape mode (Between 992px and 1366px) */
@media (min-width: 992px) {
    .img-container {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        margin: auto 2%;
    }
    .searchbar {
        width: 40%;
        margin: 20px auto;
    }

    .lb-close {
        top: -45em;
    }

    .lightbox {
        top: 50px !important;
    }
}

/* Desktop (1367px or higher)*/
@media (min-width: 1367px) {
    .searchbar {
        width: 30%;
        margin: 35px auto;
    }

    .img-container {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        margin: auto 5%
    }

    figure {
        padding-bottom: 70px;
    }

    .lb-close {
        top: -56rem;
        right: -3rem;
    }

    .lightbox {
        top: 50px !important;
    }

    .lb-nav a.lb-next,
    .lb-nav a.lb-prev {
        position: relative;
        opacity: 0.7;
    }

    .lb-nav a.lb-next {
        left: 150px;
    }

    .lb-nav a.lb-prev {
        left: -150px;
    }
}

@media (min-width: 1830px) {
    .img-container {
        margin: auto 10%;
    }
}